body{margin-top:60px;}
blockquote{margin:0px;margin-top:10px;padding:0px;padding-left:20px;line-height:15px;}
.container{min-width:970px;}
#selectPredmet{width:450px;}
#map_canvas{height:80%;width:100%;}
#progress{min-width:100px;height:18px;background-color:#a94442;}
.bar{height:18px;background:green;}
#uploaded_files td{width:33.3%;}
label.uploadbutton{cursor:pointer;display:flex;margin-top:30px;margin-bottom:20px;}
label.uploadbutton input{opacity:0;display:none;}
label.uploadbutton .form-control{margin-left:15px; overflow:hidden;}
label.addbutton{cursor:pointer;display:flex;}
label.addbutton input{opacity:0;display:none;}
label.addbutton .form-control{margin-left:15px;width:36%;}
#another_predmet{display:none;}
.alert{text-align:center;}
#searchResult{
    width: 196px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: white;
    width: 240px;
    position: absolute;
    top: 43px;
    margin-left: 15px;
}
.searchHead{
    font-weight: bold;
    margin-left: 4px;
}
.searchItem{
    background-color: aliceblue;
    margin: 0px 0px 3px 4px;
    border-radius: 1px;
}
.searchItem:hover{
    background-color: azure;
}

.sortLink{
    float: right;
}
.sortLink.active{
    color: lawngreen;
}
.materials th{
    vertical-align: middle !important;
}
.materials th.size{
    min-width: 95px;
}
.materials th:first-child{
    width: 55px;
}
.materials .glyphicon{
    margin-top:2px;
}
.btn-info {
    height: 34px;
}
.progress {
    width: 50%;
    margin-left: 15px;
    height: 34px;
    margin-bottom: 0;
}