body{
  margin-top: 60px;
}

blockquote{
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  padding-left: 20px;
  line-height: 15px;
}
.container{
  min-width: 970px;
}

#selectPredmet{
    width: 450px;
}