body{
  margin-top: 60px;
}

blockquote{
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
  padding-left: 20px;
  line-height: 15px;
}
.container{
  min-width: 970px;
}

#selectPredmet{
    width: 450px;
}

#map_canvas {
    height: 80%;
    width: 100%;
}
#progress{
    min-width: 100px;
    height: 18px;
    background-color: #a94442;
}
.bar {
    height: 18px;
    background: green;
}

#uploaded_files td{
    width: 33.3%;
}

label.uploadbutton {
    cursor: pointer;
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
}

label.uploadbutton input {
    opacity: 0;
    display: none;
}

label.uploadbutton .form-control {
    margin-left: 15px;
}
label.addbutton {
    cursor: pointer;
    display: flex;
}

label.addbutton input {
    opacity: 0;
    display: none;
}

label.addbutton .form-control {
    margin-left: 15px;
    width: 36%;
}

#another_predmet{
    display: none;
}

.alert{
    text-align: center;
}